
{{> banner}}

<div class="grid-container form-box-bg">
    <img src="assets/img/Subtraction1 (2).png"  alt="" >
    <img src="assets/img/Subtraction1 (2).png" alt="" >
    <main class="grid-x main-big-box ">
   
        <div class="large-6 main-box">

            <h2>Ochroń swoją sieć firmową za darmo!</h2>
            <p>Pobierz darmowego triala i otrzymaj trzy miesiące
                bezpłatnej ochrony sieci, a w ramach niej:</p>
            <h2 class="main-box-h2-secend">Protection Service for Business</h2>
            <p>Portal Zarządzający - centralne zarządzanie bezpieczeństwem w organizacji 
                i automatyzacja procesów aktualizacji
                </p>

           <p> Computer Protection Premium– wielowarstwowa ochrona stacji końcowych 
            Windows i Mac oraz serwerów. <br>
            Dodatkowe funkcje: Application Control z blokowaniem skryptów i <br>
            DataGuard z File Access Control</p>
            
             
           <p>Software Updater – automatyzacja aktualizacji aplikacji firm trzecich
            na urządzeniu.</p> 
            <h2 class="main-box-h2-tree">Rapid Detection & Response</h2>
            <p class="main-box-p-tree">1. Program skierowany jest do firm i osób prowadzących działalność gospodarczą, nie dotyczy użytkowników domowych.<br>
                2. Liczba wygenerowanych licencji nie jest limitowana, lecz nie może przekroczyć całkowitej liczby stanowisk pracy w Państwa firmie.
                <br>
                3. Promocja prowadzona jest wspólnie z firmą Bakotech Sp. z o.o., oficjalnym dystrybutorem marki F-Secure w Polsce.
                 
            </p>
        </div>

        <div class="large-6 form-box">
            <div class="form-box-inside">
            
               
                <div class="from-box-inside-index">
                  
                    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                        

                        <input type=hidden name="oid" value="00D20000000oqHA">
                        <input type=hidden name="retURL" value="https://www.office-security.pl/thankyou.html">

                        
                        <h3>Formularz</h3>
                        <input type="text" name="first_name" placeholder="Imię" required>
                        <hr>
                        <input type="text" name="last_name" placeholder="Nazwisko" required>
                        <hr>
                        <input type="text" name="company" placeholder="Firma" required>
                        <hr>
                        <!-- było:    <input type="text" name="tel" id="" value="Numer telefonu" onfocus="this.value=''"> -->
                        <input type="text" name="phone" id="" placeholder="Numer telefonu" required>
                        <hr>
                        <input type="text" name="email" id="" placeholder="E-mail" required>
                        <hr>
                        <input type="text" name="00N20000009P3LN" placeholder="Liczba stanowisk pracy" required>
                        <hr>

                        <p class="checbox-text"> <input type="checkbox" name="acceptance" id="" required> Zgodnie z art. 6 ust. 1 a)
                            ogólnego rozporządzenia o ochronie danych z dnia 27 kwietnia 2016r. wyrażam zgodę na
                            przetwarzanie moich danych osobowych w celach związanych z powyższym zgłoszeniem przez
                            Bakotech Sp. z o.o. z siedzibą w ul. Drukarska 18/5, 30-348 Kraków. Podaję dane osobowe
                            dobrowolnie i oświadczam, że są one zgodne z prawdą.
                            Zapoznałem(-am) się z regulaminem promocji oraz treścią polityki prywatności firmy Bakotech
                            Sp z.o.o, w tym z informacją o celu przetwarzania danych osobowych oraz prawie dostępu do
                            treści swoich danych i prawie ich poprawienia. Rozumiem, że w każdym momencie mogę wycofać
                            swoją zgodę, a wycofanie zgody nie wpływa na zgodność z prawem przetwarzania, którego
                            dokonano wcześniej. Klikając akceptuję warunki promocji. Wyrażam również zgodę na
                            otrzymywanie informacji handlowych, w tym dotyczących informacji produktowych, wydarzeń oraz
                            szkoleń, przekazywanych przez Bakotech Sp. z.o.o. zgodnie z ustawą o świadczeniu usług drogą
                            elektroniczną (Dz.U. z 2018 r. poz. 650).</p>
                            

                            <!-- Kod kraju - w tym przypadku na sztywno Polska -->
                            <input type="hidden"  id="country_code" name="country_code" value="PL" />
                            
                            <!-- Opis - -->
                            <input type="hidden"  id="description" name="description" value="Trial 90 dni" />
                            
                            <!-- Zrodlo potencjalnego klienta -->
                            <input type="hidden"  id="lead_source" name="lead_source" value="Landing Page" />
                            
                            <!-- Kampania -->
                            <input type="hidden"  id="Campaign_ID" name="Campaign_ID" value="7013X0000021HgBQAU" />
                            
                            <!-- Newsletter -->
                            <input type="hidden"  id="00N20000009P3Lc" name="00N20000009P3Lc" value="Yes" />
                            
                            <!-- Producent -  -->
                            <input type="hidden"  id="00N20000009P3M6" name="00N20000009P3M6" value="F-Secure" />
                            
                            <!-- Typ Leada -->
                            <input type="hidden"  id="00N20000009P3MB" name="00N20000009P3MB" value="Customer" />
                            
                            <!-- Typ Rekordu -->
                            <!-- <input type="hidden"  id="00N0O00000A9cKV" name="00N0O00000A9cKV" value="Lead" /><br> -->

                            
                        <div class="button-form-box">
                            <button type="submit" name="submit"> WYŚLIJ zgłoszenie</button>
                        </div>
                    </form>
               </div>
            </div>

        </div>


    </main>
 
</div>

{{> footer-banner}}
