

<div class="form-box-bg thankyou-wrap">

		<div class="grid-x" style="width:100%; text-align: center;">
			
			<div class="small-12">
			
			<h2>Dziękujemy za wypełnienie formularza. </h2>
				
			<p>W ciągu 24 godzin skontaktujemy się z Tobą, by ustalić szczegóły</p>
			</div>
			
		</div>
 
</div>


{{> banner}}