<header class="header-bg">
	<div class="header-bg-2 large-6">
		<div class="header-bg-1">
			<div class="header-text">
				<h1>W Domu czy w Biurze,</h1>
					<h2>90 dni bezpłatnej aktywnej ochrony Twojej firmy</h2>
				<p>Endpoint Protection with Detection & Response: </p>
				<p>Protection Service for Business<br>
					Rapid Detection & Response (RDR)</p>
					 <p>Czas trwania: 3 miesiące  </p>
			</div>
		</div>
	</div>
</header>