
<div class="grid-container ">
  <div class="grid-x footer-main">
    <div class="footer-box footer-box-1">
      <div>
          <img src="assets/img/Bako_logo_przycięte (1).svg" alt="">
      </div>
      <div>
        <p><strong>Bakotech Sp. z o.o. </strong> <br>
            ul. Drukarska 18/5, <br>
            30-348 Kraków</p>
      </div>

      <div>
        <p>tel. 12 376 95 08<br>
            www.bakotech.pl</p>
      </div> 
    </div>
    <div class="footer-box footer-box-2">
      <div>
        <img src="assets/img/adit_logo_pion (1).svg" alt="">
      </div>
      <div>
        <img src="assets/img/LOGO (1).svg" alt="">
      </div>
    </div>
  </div>
</div>
