  <nav>
 
			<div class="grid-x header-box" >
				<div class="large-6 logo">
					<a href="./"><img src="assets/img/F-Secure_horizontal_logo_RGB_white.svg" alt=""></a>
				</div>
				<div class="large-6 social-media">
						<a href="https://www.facebook.com/bakotechpl/" target="_blank"><img src="assets/img/fb.svg" alt=""></a>
						<a href="https://www.linkedin.com/company/bakotechpl/?viewAsMember=true" target="_blank"><img src="assets/img/linkedin (1).svg" alt=""></a>
						<a href="https://twitter.com/Bakotech_pl" target="_blank"><img src="assets/img/twitter (1).svg" alt=""></a>
						<a href="https://www.youtube.com/channel/UCfpXwYM8FbfuIUL7hDrioOg" target="_blank" class="last-img"><img src="assets/img/youtube (2).svg"  alt=""></a>
				</div>
			</div>
	
</nav>