<div class="grid-container">
    <div class=" product-box ">
        <div class="large-4 box-product-bg-1">
            <h3>Pobierz opis produktu</h3>
            <img src="../assets/img/back.png" alt="">

        </div>
        <div class="large-4 box-product-bg-2">
            <h3>Nadchodzące eventy F-secure</h3>
            <img src="../assets/img/back.png" alt="">
        </div>
        <div class="large-4 box-product-bg-3">
            <h3>Promocje</h3>
            
        </div>

    </div>
</div>

    