{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakotech</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
 
  </head>
<body>

{{> nav}}
  
{{> body}}

{{> footer}}

<script src="{{root}}assets/js/app.js"></script>
  
<script>
  const formText = document.querySelector(".hide-form");
  const hamburger = document.querySelector(".hamburger");
  const buttonForm = document.querySelector(".button-footer a");
 
 console.log(buttonForm, formText);

  buttonForm.addEventListener("click",function(e){
    e.preventDefault();
    formText.style.display = "flex";
  });
  
  hamburger.addEventListener("click", function(e) {
//     setInterval(function() {
//       formText.style.display = "none";
// }, 100)
  
    formText.style.display = "none";
  });


</script>
<script>
  function myFunction() {
    formText.style.display = "flex";
    formText.style.opacity = "1";
  }
  </script>
 

</body>
</html>
